<nav id="sidebar-icon-links">
  <a id="email"
     class="icon" title="Email" aria-label="Email"
     href="mailto:nuttingv@gmail.com">
    {% include svg/email.svg %}
  </a>
  <a id="linkedin-link"
     class="icon" title="Linkedin" aria-label="Linkedin"
     href="https://www.linkedin.com/in/veronicanutting/">
    {% include svg/linkedin.svg %}
  </a>
  <a id="github-link"
     class="icon" title="Github" aria-label="Github"
     href="https://github.com/veronicanutting">
    {% include svg/github.svg %}
  </a>
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.hydeout.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
